*{font-family:"Roboto";
}

/* styling for the footer */
 footer{
    display:flex;
    align-items:center;
    background-color:#fff;
    justify-content:space-around; /* evenly distributes sections horizontally/*
 }
   
/* styling contact section */
.contact{
    display:flex;
    flex-direction: row;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
}
.information{
  /*  flex-direction:row; */
    text-align: right;
    font-size: 1rem;
}

/* styling copyright */
.copyright{
    font-size: 1rem;
    color:black;
}
    

    


    



